.table__item{
    margin-bottom: 5px;
}

.table__download{
    background: #4cae4c;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
}