<div v-show="values">
    Dupliquer les clés de cette langue pour:
    <input type="text" v-el="duplicate_inpute">
    <span class="duplicate" v-on="click: duplicate">Dupliquer</span>

    <hr>
</div>

<div v-repeat="values" data-index="{{$index}}" class="table__item">
    <input type="text" v-on="keyup: format($event), blur: save($index)" v-model="key" value="{{key}}">
    <input type="text" v-on="blur: save($index)" v-model="value" value="{{value}}">
    <span v-on="click: remove($index)">supprimer</span>
</div>
<br><br>
<span v-on="click: add" v-show="values">add</span>

<form action="{{content.download}}{{content.item}}" method="post" v-show="values">
    <button type="submit" value="csv" class="table__download">
        <span class="glyphicon glyphicon-cloud-download"></span>
    </button>
</form>