%full-size {
    width: 100%;
    height: 100%;
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%unglitch-3d {
    backface-visibility: hidden; // Prevent glitch with accentuated char
}