@import "base/variables";

$column: 58px;
$gutter: 24px;
$grid-columns: 12;
$grid-margin: 32;
$max-width: 960px;

// DEBUG
// $visual-grid: true;
$visual-grid-index: front;
$visual-grid-color: #1abc9c;