.sidebar{
    width: 6%;
    height: 100%;
    background: #34495e;
    float: left;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.sidebar img{
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar ul{
    width: 100%;
}

.sidebar li{
    width: 100%;
}

.sidebar li a{
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    margin-right: 0;
    padding: 15px 0;
    cursor: pointer;
    color: white;
    transition: all 0.2s;

    &.active{
        background: #4a6179;
    }
}

.sidebar li a:hover{
    background: #4a6179;
}

.add{
    padding: 0 10px;
    position: relative;
    opacity: 0;
    margin-top: 10px;
    transition: 0.2s all;
    input{
        margin-bottom: 5px;
    }
    input, button{
        text-align: center;
        width: 100%;
    }

    &.show{
        margin-top: 0;
        opacity: 1;
    }
}

.tab.active{
    .sidebar__icon{
        left: 5px;
        opacity: 1;
    }
}

.sidebar__icon{
    position: absolute;
    left: -50px;
    top: 0;
    color: #ec971f;
    height: 45px;
    transition: 0.3s all;
    opacity: 0;
    span{
        @include vertical-align;
    }
}