<img src="img/logo.png" alt="">
<ul class="nav sidebar">
    <li v-repeat="langs">
        <a role="tab" data-toggle="tab" class="tab" v-on="click: fetch(name, $index)" v-class="name | isEgual">
            {{name}}

            <div class="sidebar__icon" v-on="click: removeLang( name )">
                <span class="glyphicon glyphicon-trash"></span>
            </div>
        </a>
    </li>
    <li v-on="click: add">
        <a>
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </li>
    <li class="add">
        <input type="text" value="" v-el="input">
        <button v-on="click: saveAdd">créer</button>
    </li>
</ul>