html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    @extend %full-size;
}

body {
    color: black;
    position: relative;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

[v-cloak] {
    display: none;
}

input[type=text]:focus, textarea:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

a {
    color: white;
    text-decoration: none;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content{
    width: 94%;
    float: left;
    padding: 20px 2%;
    height: 100%;
    overflow: scroll;
}