.loader {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 50%;
  margin-left: -12px;
  top: 50%;
  margin-top: -12px;

  &:before {
    display: block;

    width: 22px;
    height: 22px;

    border-top: 2px solid white;
    border-right: 2px solid #2a3c5e;
    border-left: 2px solid #2a3c5e;
    border-bottom: 2px solid white;

    content: "";

    animation: halfspin 0.75s ease infinite;
    border-radius: 100%;
  }
}
@keyframes halfspin {
  to {
    transform: rotate( 180deg );
  }
}